.layui-col-md10 {
    width: 82.333333%;
}

.layui-input[disabled="disabled"]{
    background-color: #EBEBE4 !important;
}

.li-active{
    font-weight: bold;
}

#tree li {
    line-height: 50px;
    box-shadow: 3px -5px 11px 0px #0000000d;
    border-radius:0px 20px 0px 0px;
}

#tree li cite{
    font-size: 15px;
    font-style: italic;
}

.layui-card-body {
    padding: 0px;
    line-height: 24px;
    text-indent: 5px;
}