<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
    <!-- pay -->
    <div class="my-pay-box none">
        <div><img src="/v2/frame/static/image/zfb.png" alt="支付宝"><p>支付宝</p></div>
        <div><img src="/v2/frame/static/image/wx.png" alt="微信"><p>微信</p></div>
    </div>

    <!-- 右键菜单 -->
    <div class="my-dblclick-box none">
        <table class="layui-tab dblclick-tab">
            <tr class="card-refresh">
                <td><i class="layui-icon">&#x1002;</i>刷新当前标签</td>
            </tr>
            <tr class="card-close">
                <td><i class="layui-icon">&#x1006;</i>关闭当前标签</td>
            </tr>
            <tr class="card-close-all">
                <td><i class="layui-icon">&#x1006;</i>关闭所有标签</td>
            </tr>
        </table>
    </div>
    <script type="text/javascript" th:src="@{/v2/js/common/jquery-2.0.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/v2/frame/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/v2/js/common/jquery.form.js}"></script>
    <script type="text/javascript" th:src="@{/v2/frame/static/js/vip_comm.js}"></script>
    <script type="text/javascript" th:src="@{/v2/js/base/index.js}"></script>
</th:block>