<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorate="~{v2/layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>提现设置</title>
    <link rel="stylesheet" th:href="@{/v2/frame/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/v2/frame/static/css/style.css}">
    <link rel="icon" th:href="@{/v2/frame/static/image/code.png}">
</head>
<body>

<th:block layout:fragment="current_page">
    <a><cite>提现设置</cite></a>
</th:block>

<th:block layout:fragment="body">
    <div class="layui-row">
        <!--选项卡-->
        <div class="layui-tab layui-tab-card layui-col-md12" style="min-height: 770px">
            <div class="layui-tab-content" style="height: 900px;padding: 10px;overflow: scroll;">
                <!--主体 begin-->
                <div class="layui-tab-item layui-show">
                        <form class="layui-form layui-form-pane" style="height: 1300px;"
                              action="store/updatestore" method="post" >

                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label">设置24小时内提现次数</label>
                                <div  class="layui-input-block">
                                    <select name="tixian_count" id="tixian_count" lay-verify="required">
                                        <option value="0" selected="">为0时关闭提现</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                    </select>
                                </div>
                            </div>

                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label">单次提现最小金额</label>
                                <div class="layui-input-block">
                                    <input type="text" name="storeName"
                                           id="min_money"
                                           lay-verify="required" placeholder="请输入"
                                           autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label">单次提现最大金额</label>
                                <div class="layui-input-block">
                                    <input type="text" id="max_money" name="storeName" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
                                </div>
                            </div>

                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label">提现手续费(百分比)</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="storeName" id="shouxu" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label">费率最小值</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="storeName" id="min_shouxu" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label">费率最大值</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="storeName" id="max_shouxu" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
                                </div>
                            </div>

                            <button lay-submit lay-filter="my-form"
                                    id="my-data-table-query"
                                    type="submit" class="layui-btn mgl-20">修改
                            </button>

                        </form>
                </div>
                <!--主体 end-->
            </div>
        </div>
    </div>

</th:block>
<th:block layout:fragment="free_footer">
    <script type="text/javascript" th:src="@{/v2/frame/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/v2/js/index.js}"></script>
    <!-- 表格操作按钮集 -->
    <script type="text/html" id="barOption">
        <a name="item-view" class="layui-btn layui-btn layui-btn-xs" lay-event="detail">查看</a>
        <a name="item-edit" class="layui-btn layui-btn layui-btn-xs layui-btn-normal" lay-event="edit">编辑</a>
        <a name="item-remove" class="layui-btn layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
    </script>
</th:block>
</body>
</html>

<script>
    //数据加载
    $(function () {
        $.get("/system/tiXianSetting", function (data) {
            if (data.error == 0) {
                var tixian =$.parseJSON(data.tixian);
                //填充
                $("#min_money").val(tixian.min_money);
                $("#max_money").val(tixian.max_money);
                $("#shouxu").val(tixian.shouxu);
                $("#min_shouxu").val(tixian.min_shouxu);
                $("#max_shouxu").val(tixian.max_shouxu);

            }
        });
    });


    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form,
            layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate;
        // 表单提交验证
        form.on('submit(my-form)',function(data){

            var params = {};
            params.tixian_count = $('#tixian_count').val();
            params.min_money = $('#min_money').val();
            params.max_money = $('#max_money').val();
            params.shouxu = $('#shouxu').val();
            params.min_shouxu = $('#min_shouxu').val();
            params.max_shouxu = $('#max_shouxu').val();

            $.post("/system/tixian", params , function (data) {
                if (data.error == 0) {
                    layer.msg("修改成功");
                    layer.closeAll();
                    window.location.href = "/system/toTiXianSetting";
                    window.location.reload(true);
                }else {
                    layer.msg("修改失败");
                }
            });

            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
        form.render();
    });

</script>