<div class="layui-form layui-form-pane my-view"xmlns:th="http://www.thymeleaf.org">
    <input type="hidden" name="order_id" th:value="${model.getOrder_id()}">
    <input type="hidden" name="user_id" th:value="${model.getUser_id()}">
    <input type="hidden" name="send_address_id" th:value="${model.getSend_address_id()}">

    <div class="layui-form-item">
        <label class="layui-form-label">用户名</label>
        <div class="layui-input-block">
            <input type="text" name="username" autocomplete="off"
                   lay-verify="required" class="layui-input" th:value="${model.getUsername()}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">总计</label>
        <div class="layui-input-block">
            <input type="text" name="amount" autocomplete="off"
                   lay-verify="required" class="layui-input" th:value="${model.getAmount()}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">真实姓名</label>
        <div class="layui-input-block">
            <input type="text" name="real_name" autocomplete="off"
                   lay-verify="required" class="layui-input" th:value="${model.getReal_name()}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">手机号</label>
        <div class="layui-input-block">
            <input type="text" name="phone" autocomplete="off"
                   lay-verify="required" class="layui-input" th:value="${model.getPhone()}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">运单号</label>
        <div class="layui-input-block">
            <input type="text" name="express_id" autocomplete="off"
                   lay-verify="required" class="layui-input" th:value="${model.getExpress_id()}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">订单状态</label>
        <div class="layui-input-block">
            <select id="select-business-brands" lay-verify="" >
                <option value="0">待发货</option>
                <option value="1">已发货</option>
                <option value="2">已拒绝</option>
                <option value="3">已取消</option>
            </select>
            <input type="hidden" id="status" autocomplete="off"
                   lay-verify="required" class="layui-input" th:value="${model.getStatus_text()}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">订单备注</label>
        <div class="layui-input-block">
            <input type="text" name="orders_remark" autocomplete="off"
                   lay-verify="required" class="layui-input" th:value="${model.getOrders_remark()}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">收货地址</label>
        <div class="layui-input-block">
            <input type="text" name="recv_address" autocomplete="off"
                   lay-verify="required" class="layui-input" th:value="${model.getRecv_address()}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
            <input type="text" name="address_remark" autocomplete="off"
                   lay-verify="required" class="layui-input" th:value="${model.getAddress_remark()}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">发货地址</label>
        <div class="layui-input-block">
            <input type="text" name="send_address" autocomplete="off"
                   lay-verify="required" class="layui-input" th:value="${model.getSend_address()}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">最后更新时间</label>
        <div class="layui-input-block">
            <input type="text" name="edit_date" autocomplete="off"
                   lay-verify="required" class="layui-input" th:value='${edit_date}'>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-block"  >
            <input name="isEnable" th:id="isEnable" th:if="${model.getIsEnable()} eq 1" type="checkbox" lay-skin="switch" lay-text="开启|关闭" checked>
            <input name="isEnable" th:id="isEnable" th:if="${model.getIsEnable()} eq 0" type="checkbox" lay-skin="switch" lay-text="开启|关闭">
        </div>
    </div>
    <div class="layui-form-item">
        <i style="line-height: 38px;">* 编辑后的数据会在商家后台和前台显示</i>
        <button lay-submit lay-filter="my-form" class="layui-btn" style="float: right;">编辑</button>
    </div>
</div>

<script>
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form,
            layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate;
        // 表单提交验证
        form.on('submit(my-form)',function(data){
            service.edit({
                expp_id: $('#expp_id').val(),
                name: $('#name').val(),
                url: $('#url').val(),
                isEnable: $('#isEnable').next().find("em").text() == '开启' ? 1 : 0
            }, function (data) {
                if(!isNaN(data.error) || data.code != 0) {
                    layer.msg("修改失败");
                    return;
                }
                layer.closeAll();
                marketTableIndex.reload();
            })
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
        form.render();
    });

</script>
