<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script  th:src="@{/dist/jquery-2.0.0.min.js}"></script>
    <script th:src="@{/dist/bootstrap.js}"></script>

    <link rel="stylesheet" th:href="@{/dist/JQuery_zTree_v3.5.15/css/zTreeStyle/zTreeStyle.css}">

    <script th:src="@{/dist/JQuery_zTree_v3.5.15/js/jquery.ztree.all-3.5.js}"></script>
    <script th:src="@{/dist/JQuery_zTree_v3.5.15/js/jquery.ztree.core-3.5.js}"></script>

    <style>
        html,body{
            height: 100% !important;
        }
        body{
            margin: 0 !important;
        }
        .left-li {
            width: 170px;
            height: 37px;
            border-radius: 5px;
            text-align: center;
        }
        .left-li-a {
            line-height: 37px;
        }
        .w-lful {
            width: 170px;
            margin: 0 auto;
            margin-top: 13px;
            padding: 0px;
        }
        .w-lful li {
            width: 170px;
            height: 25px;
            margin-top: 13px;
            color: #404040;
            line-height: 25px;
            text-align: center;
        }

        .w-lful li a {
            color: #404040;
        }

        .lbody {
            background: url(/static/dist/img/lbg.jpg) right repeat-y #f6fafb;
            color: #666666;
            margin-right: 6px;
            height: 100%;
        }

        .left {
            width: 250px;
            background-color: #f6fafb;
        }

        .date {
            background: url(/static/dist/img/bg.png) repeat-x 0px -115px;
            width: 226px;
            height: 34px;
            line-height: 34px;
        }

        .date span {
            background: url(/static/dist/img/icon.png) no-repeat 6px -106px;
            text-indent: 25px;
            display: block;
            color: #6a5c5c;
        }

        .fresh {
            background: url(/static/dist/img/bg.png) repeat-x 0px -78px;
            height: 35px;
            text-align: center;
        }

        .fresh a {
            color: #326ba2;
            text-indent: 25px;
            height: 35px;
            width: 55px;
            line-height: 35px;
            font-size: 12px;
        }
    </style>


</head>
<body>

<!--左侧导航栏 th:fragment="left_menu"-->
<nav style="position: fixed;z-index: 10000;" class="lbody" id="left_menu">
    <div class="left">
        <div id="menuContent" class="menuContent" style="width:180px;height: 650px;overflow-y: scroll; border:1px solid rgb(170,170,170);z-index:10;">
            <ul id="treeDemo" class="ztree" style="margin-top:0; width:10%; height:auto;"></ul>
        </div>

    </div>



    <script>
        $(function(){
            var setting = {
                view: {
                    addHoverDom: addHoverDom,
                    removeHoverDom: removeHoverDom,
                    selectedMulti: false
                },
                check: {
                    enable: true
                },
                data: {
                    simpleData: {
                        enable: true
                    }
                },
                edit: {
                    enable: false
                },
            };

            var zNodes = [

                { id: 1, pId: 0, name: "系统维护", open: true ,icon:'/dist/img/MenuIcon/system.gif'},

                { id: 12, pId: 1, name: "系统设置",url:'javascript:;',target:'_self',icon:'/dist/img/MenuIcon/ie.gif' },
                { id: 121, pId: 12, name: "网站设置",url:'/system/webSetting',target:'_self',icon:'/dist/img/MenuIcon/ie.gif' },
                // { id: 122, pId: 12, name: "模块管理",url:'/system/homePage',target:'_self',icon:'/dist/img/MenuIcon/ie.gif' },
                // { id: 123, pId: 12, name: "地区管理",url:'/system/homePage',target:'_self',icon:'/dist/img/MenuIcon/ie.gif' },
                // { id: 124, pId: 12, name: "管理员管理",url:'/system/homePage',target:'_self',icon:'/dist/img/MenuIcon/ie.gif' },
                { id: 125, pId: 12, name: "提现设置",url:'/system/tixian',target:'_self',icon:'/dist/img/MenuIcon/ie.gif' },

                // { id: 13, pId: 1, name: "更新数据",url:'javascript:;',target:'_self',icon:'/dist/img/MenuIcon/FUNC20001.gif' },
                // { id: 131, pId: 13, name: "生成首页",url:'/system/homePage',target:'_self',icon:'/dist/img/MenuIcon/ie.gif' },
                // { id: 132, pId: 13, name: "更新缓存",url:'/system/homePage',target:'_self',icon:'/dist/img/MenuIcon/ie.gif' },
                // { id: 133, pId: 13, name: "更新扩展",url:'/system/homePage',target:'_self',icon:'/dist/img/MenuIcon/ie.gif' },
                // { id: 134, pId: 13, name: "更新全站",url:'/system/homePage',target:'_self',icon:'/dist/img/MenuIcon/ie.gif' },


                // { id: 14, pId: 1, name: "系统工具" ,url:'javascript:;',target:'_self',icon:'/dist/img/MenuIcon/FUNC20069.gif'},
                // { id: 141, pId: 14, name: "信息统计" ,url:'/jlb/toList',target:'_self',icon:'/dist/img/MenuIcon/FUNC20069.gif'},
                // { id: 142, pId: 14, name: "计划任务" ,url:'/jlb/toList',target:'_self',icon:'/dist/img/MenuIcon/FUNC20069.gif'},
                // { id: 143, pId: 14, name: "后台搜索" ,url:'/jlb/toList',target:'_self',icon:'/dist/img/MenuIcon/FUNC20069.gif'},
                // { id: 144, pId: 14, name: "木马扫描" ,url:'/jlb/toList',target:'_self',icon:'/dist/img/MenuIcon/FUNC20069.gif'},
                // { id: 145, pId: 14, name: "后台日志" ,url:'/jlb/toList',target:'_self',icon:'/dist/img/MenuIcon/FUNC20069.gif'},
                // { id: 146, pId: 14, name: "404日志" ,url:'/jlb/toList',target:'_self',icon:'/dist/img/MenuIcon/FUNC20069.gif'},
                // { id: 147, pId: 14, name: "禁止IP" ,url:'/jlb/toList',target:'_self',icon:'/dist/img/MenuIcon/FUNC20069.gif'},
                // { id: 148, pId: 14, name: "404日志" ,url:'/jlb/toList',target:'_self',icon:'/dist/img/MenuIcon/FUNC20069.gif'},

                //////////////////////////2222222///////////////////////
                // { id: 2, pId: 0, name: "我的面板",open: true,icon:'/dist/img/MenuIcon/FUNC20054.gif' },
                // { id: 21, pId: 2, name: "系统首页",url:'/myPanel/systemIndex',target:'_self',icon:'/dist/img/MenuIcon/formmodel.gif' },
                // { id: 22, pId: 2, name: "网站设置",url:'/analyse/analyseByRating',target:'_self',icon:'/dist/img/MenuIcon/formmodel.gif' },
                // { id: 23, pId: 2, name: "会员管理",url:'/analyse/analyseByRating',target:'_self',icon:'/dist/img/MenuIcon/formmodel.gif' },
                // { id: 24, pId: 2, name: "单页管理",url:'/analyse/analyseByRating',target:'_self',icon:'/dist/img/MenuIcon/formmodel.gif' },


                //////////////////////////3333333///////////////////////
                { id: 3, pId: 0, name: "功能模块",open: true,icon:'/dist/img/MenuIcon/FUNC20054.gif' },

                // { id: 31, pId: 3, name: "扩展功能",url:'javascript:;',target:'_self',icon:'/dist/img/MenuIcon/formmodel.gif' },
                // { id: 311, pId: 31, name: "公告管理",url:'/system/homePage',target:'_self',icon:'/dist/img/MenuIcon/ie.gif' },
                // { id: 311, pId: 31, name: "单页管理",url:'/system/homePage',target:'_self',icon:'/dist/img/MenuIcon/ie.gif' },
                // { id: 311, pId: 31, name: "公告管理",url:'/system/homePage',target:'_self',icon:'/dist/img/MenuIcon/ie.gif' },
                // { id: 311, pId: 31, name: "模块设置",url:'/system/homePage',target:'_self',icon:'/dist/img/MenuIcon/ie.gif' },

                // { id: 32, pId: 3, name: "资讯管理",url:'javascript:;',target:'_self',icon:'/dist/img/MenuIcon/formmodel.gif' },
                // { id: 321, pId: 32, name: "添加资讯",url:'/system/homePage',target:'_self',icon:'/dist/img/MenuIcon/ie.gif' },
                // { id: 322, pId: 32, name: "资讯列表",url:'/system/homePage',target:'_self',icon:'/dist/img/MenuIcon/ie.gif' },
                // { id: 323, pId: 32, name: "分类管理",url:'/system/homePage',target:'_self',icon:'/dist/img/MenuIcon/ie.gif' },
                // { id: 324, pId: 32, name: "模块设置",url:'/system/homePage',target:'_self',icon:'/dist/img/MenuIcon/ie.gif' },

                // { id: 33, pId: 3, name: "任务管理",url:'javascript:;',target:'_self',icon:'/dist/img/MenuIcon/formmodel.gif' },
                // { id: 331, pId: 32, name: "任务列表",url:'/system/homePage',target:'_self',icon:'/dist/img/MenuIcon/ie.gif' },
                // { id: 332, pId: 32, name: "审核任务",url:'/system/homePage',target:'_self',icon:'/dist/img/MenuIcon/ie.gif' },
                // { id: 333, pId: 32, name: "分类管理",url:'/system/homePage',target:'_self',icon:'/dist/img/MenuIcon/ie.gif' },
                // { id: 334, pId: 32, name: "模块设置",url:'/system/homePage',target:'_self',icon:'/dist/img/MenuIcon/ie.gif' },

                //////////////////////////444444///////////////////////
                { id: 4, pId: 0, name: "会员管理",open: true,icon:'/dist/img/MenuIcon/FUNC20054.gif' },
                { id: 41, pId: 4, name: "会员管理",url:'javascript:;',target:'_self',icon:'/dist/img/MenuIcon/formmodel.gif' },
                { id: 419, pId: 41, name: "设置禁用名",url:'/member/forbidden',target:'_self',icon:'/dist/img/MenuIcon/ie.gif' },

                { id: 411, pId: 41, name: "添加会员",url:'/member/memberAdd',target:'_self',icon:'/dist/img/MenuIcon/ie.gif' },
                { id: 412, pId: 41, name: "会员列表",url:'/member/memberList',target:'_self',icon:'/dist/img/MenuIcon/ie.gif' },
                // { id: 413, pId: 41, name: "审核会员",url:'/system/homePage',target:'_self',icon:'/dist/img/MenuIcon/ie.gif' },
                // { id: 414, pId: 41, name: "代理商会员",url:'/system/homePage',target:'_self',icon:'/dist/img/MenuIcon/ie.gif' },
                // { id: 415, pId: 41, name: "联系会员",url:'/system/homePage',target:'_self',icon:'/dist/img/MenuIcon/ie.gif' },
                // { id: 416, pId: 41, name: "在线会员",url:'/system/homePage',target:'_self',icon:'/dist/img/MenuIcon/ie.gif' },
                // { id: 417, pId: 41, name: "会员组管理",url:'/system/homePage',target:'_self',icon:'/dist/img/MenuIcon/ie.gif' },
                // { id: 418, pId: 41, name: "模块设置",url:'/system/homePage',target:'_self',icon:'/dist/img/MenuIcon/ie.gif' },

                { id: 42, pId: 4, name: "财务管理",url:'javascript:;',target:'_self',icon:'/dist/img/MenuIcon/formmodel.gif' },
                // { id: 421, pId: 42, name: "资金管理",url:'/system/homePage',target:'_self',icon:'/dist/img/MenuIcon/ie.gif' },
                // { id: 422, pId: 42, name: "联盟币管理",url:'/system/homePage',target:'_self',icon:'/dist/img/MenuIcon/ie.gif' },
                // { id: 423, pId: 42, name: "短信管理",url:'/system/homePage',target:'_self',icon:'/dist/img/MenuIcon/ie.gif' },
                { id: 424, pId: 42, name: "充值记录",url:'/system/homePage',target:'_self',icon:'/dist/img/MenuIcon/ie.gif' },
                { id: 425, pId: 42, name: "提现记录",url:'/system/homePage',target:'_self',icon:'/dist/img/MenuIcon/ie.gif' },
                // { id: 426, pId: 42, name: "信息支付",url:'/system/homePage',target:'_self',icon:'/dist/img/MenuIcon/ie.gif' },
                // { id: 427, pId: 42, name: "充值卡管理",url:'/system/homePage',target:'_self',icon:'/dist/img/MenuIcon/ie.gif' },


                { id: 43, pId: 4, name: "会员相关",url:'javascript:;',target:'_self',icon:'/dist/img/MenuIcon/formmodel.gif' },
                { id: 431, pId: 43, name: "会员实名认证",url:'/member/toMemberRealNameAuth',target:'_self',icon:'/dist/img/MenuIcon/ie.gif' },
                { id: 4315, pId: 43, name: "会员买号认证",url:'/member/toAuthAccount',target:'_self',icon:'/dist/img/MenuIcon/ie.gif' },
                { id: 432, pId: 43, name: "银行卡认证",url:'/member/toAuthBank',target:'_self',icon:'/dist/img/MenuIcon/ie.gif' },
                { id: 433, pId: 43, name: "会员提现认证",url:'/member/toTiXian',target:'_self',icon:'/dist/img/MenuIcon/ie.gif' },
                // { id: 434, pId: 43, name: "电子邮件",url:'/system/homePage',target:'_self',icon:'/dist/img/MenuIcon/ie.gif' },
                // { id: 435, pId: 43, name: "站内短信",url:'/system/homePage',target:'_self',icon:'/dist/img/MenuIcon/ie.gif' },
                // { id: 436, pId: 43, name: "站内通知",url:'/system/homePage',target:'_self',icon:'/dist/img/MenuIcon/ie.gif' },
                // { id: 437, pId: 43, name: "发货地址",url:'/system/homePage',target:'_self',icon:'/dist/img/MenuIcon/ie.gif' },
                // { id: 438, pId: 43, name: "审核账号",url:'/system/homePage',target:'_self',icon:'/dist/img/MenuIcon/ie.gif' },
                // { id: 439, pId: 43, name: "代发快递",url:'/system/homePage',target:'_self',icon:'/dist/img/MenuIcon/ie.gif' },
                // { id: 4310, pId: 43, name: "辅助业务",url:'/system/homePage',target:'_self',icon:'/dist/img/MenuIcon/ie.gif' },
                // { id: 4311, pId: 43, name: "出售小号",url:'/system/homePage',target:'_self',icon:'/dist/img/MenuIcon/ie.gif' },
                // { id: 4312, pId: 43, name: "签收地址",url:'/system/homePage',target:'_self',icon:'/dist/img/MenuIcon/ie.gif' },
                // { id: 4313, pId: 43, name: "考试题库",url:'/system/homePage',target:'_self',icon:'/dist/img/MenuIcon/ie.gif' },
                // { id: 4314, pId: 43, name: "登录日志",url:'/system/homePage',target:'_self',icon:'/dist/img/MenuIcon/ie.gif' },

                { id: 44, pId: 4, name: "商户管理",url:'javascript:;',target:'_self',icon:'/dist/img/MenuIcon/formmodel.gif' },
                { id: 441, pId: 44, name: "商户店铺审核",url:'/shop/toAuthShop',target:'_self',icon:'/dist/img/MenuIcon/ie.gif' },


            ];

            $(document).ready(function () {
                $.fn.zTree.init($("#treeDemo"), setting, zNodes);
            });

            function addHoverDom(treeId, treeNode) {
                var sObj = $("#" + treeNode.tId + "_span");
                if (treeNode.editNameFlag || $("#addBtn_" + treeNode.tId).length > 0) return;
                var addStr = "<span class='button add' id='addBtn_" + treeNode.tId
                    + "' title='add node' onfocus='this.blur();'></span>";
                sObj.after(addStr);
                var btn = $("#addBtn_" + treeNode.tId);
                if (btn) btn.bind("click", function () {
                    var zTree = $.fn.zTree.getZTreeObj("treeDemo");
                    zTree.addNodes(treeNode, { id: (100 + newCount), pId: treeNode.id, name: "new node" + (newCount++) });
                    return false;
                });
            };
            function removeHoverDom(treeId, treeNode) {
                $("#addBtn_" + treeNode.tId).unbind().remove();
            };
        });
    </script>
</nav>


</body>
</html>