<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加</title>

    <link rel="stylesheet" th:href="@{/css/admin/frame/left.css}">
    <link rel="stylesheet" th:href="@{/css/admin/frame/yp.css}">

    <link rel="stylesheet" th:href="@{/dist/bootstrap.css}">
    <script  th:src="@{/dist/jquery-2.0.0.min.js}"></script>
    <script th:src="@{/dist/bootstrap.js}"></script>

    <link rel="stylesheet" th:href="@{/dist/JQuery_zTree_v3.5.15/css/zTreeStyle/zTreeStyle.css}">

    <script th:src="@{/dist/JQuery_zTree_v3.5.15/js/jquery.ztree.all-3.5.js}"></script>
    <script th:src="@{/dist/JQuery_zTree_v3.5.15/js/jquery.ztree.core-3.5.js}"></script>


</head>
<body>
<!--左侧菜单-->
<div style="display: flex;">
    <div th:replace="~{admin/commons::#left_menu}"></div>


    <div style="flex: 1; padding: 20px; margin-left:185px;">

    </div>
</div>

</body>
</html>