<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="/common/commons-head::commonHeader('系统首页_销量联盟')">
</head>

<body>

</body>


<!--左侧菜单-->
<div style="display: flex;">
    <div th:replace="~{admin/commons::#left_menu}"></div>


    <div style="flex: 1; padding: 20px; margin-left:185px;">
        <div id="ypmsgbox"></div>
        <div class="menu" onselectstart="return false" id="destoon_menu">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td valign="bottom">
                        <table cellpadding="0" cellspacing="0">
                            <tr>
                                <td width="10">&nbsp;</td>
                                <td id="Tab0" class="tab"><a href="?moduleid=2&action=add" >添加会员</a></td><td class="tab_nav">&nbsp;</td><td id="Tab1" class="tab"><a href="?moduleid=2" >会员列表</a></td><td class="tab_nav">&nbsp;</td><td id="Tab2" class="tab"><a href="?moduleid=2&action=check" >审核会员</a></td><td class="tab_nav">&nbsp;</td><td id="Tab3" class="tab"><a href="?moduleid=2&file=contact" >联系会员</a></td><td class="tab_nav">&nbsp;</td></tr>
                        </table>
                    </td>
                    <td width="110"><div><img src="admin/image/spacer.gif" width="40" height="24" title="刷新" onclick="window.location.reload();" style="cursor:pointer;" alt=""/><img src="admin/image/spacer.gif" width="20" height="24" title="后退" onclick="history.back(-1);" style="cursor:pointer;" alt=""/><img src="admin/image/spacer.gif" width="20" height="24" title="前进" onclick="history.go(1);" style="cursor:pointer;" alt=""/><img src="admin/image/spacer.gif" width="20" height="24" title="帮助" onclick="Go('http://www.destoon.com/client.php?action=help&product=b2b&mfa=member-index-');" style="cursor:help;" alt=""/></div></td>
                </tr>
            </table>
        </div>
        <div id="ypcontent">
            <form th:action="@{/member/memberList}" method="post">
            <div class="tt">会员搜索</div>
            <table cellpadding="2" cellspacing="1" class="tb">
                <tr>
                    <td>&nbsp;
                        <select name="type" >
                            <option value="0" selected=selected>按条件</option>
                            <option value="1">代理商</option>
                            <option value="2">会员名</option>
                            <option value="4">姓名</option>
                            <option value="5">手机号码</option>
                            <option value="7">QQ</option>
                            <option value="12">支付宝</option>
                            <option value="13">推荐人</option>
                            <option value="14">身份账号</option>
                        </select>&nbsp;

                        <input type="text" size="20" name="type_value" value="" title="关键词"/>&nbsp;

                        <select name="vip_model" >
                            <option value="会员组">会员组</option>
                            <option value="会员组">会员组</option>
                            <option value="禁止访问">禁止访问</option>
                            <option value="游客">游客</option>
                            <option value="待审核会员">待审核会员</option>
                            <option value="试客会员">试客会员</option>
                            <option value="商家会员">商家会员</option>
                            <option value="VIP会员">VIP会员</option>
                            <option value="荣誉试客会员">荣誉试客会员</option>
                            <option value="银牌试客会员">银牌试客会员</option>
                            <option value="金牌试客会员">金牌试客会员</option>
                            <option value="荣誉商家会员">荣誉商家会员</option>
                        </select>&nbsp;

                        <select name="gender" >
                            <option value="0" selected=selected>性别</option>
                            <option value="先生">先生</option>
                            <option value="女士">女士</option>
                        </select>&nbsp;

                        <input area="1" name="areaid" id="areaid_1" type="hidden" value="0"/>
                        <span id="load_area_1">
                            <select name="province" onchange="load_area(this.value, 1);"  >
                                <option th:each="pro:${provinces}"
                                        th:value="${pro.codeid}"
                                        th:text="${pro.cityName}">
                                </option>
                            </select>
                        </span>
                        <!--<script type="text/javascript">-->
                            <!--var area_title = new Array;area_title[1]='所在地区';var area_extend = new Array;area_extend[1]='';var area_areaid = new Array;area_areaid[1]='0';var area_deep = new Array;area_deep[1]='0';</script>-->
                        <!--<script type="text/javascript"-->
                                <!--src="http://admin.topaaa.com/file/script/area.js">-->

                        <!--</script>&nbsp;-->
                        <!--<select name="order" >-->
                        <!--<option value="0" selected=selected>结果排序方式</option><option value="1">注册时间降序</option><option value="2">注册时间升序</option><option value="3">登录时间降序</option><option value="4">登录时间升序</option><option value="5">登录次数降序</option><option value="6">登录次数升序</option><option value="7">账户资金降序</option><option value="8">账户资金升序</option><option value="9">会员联盟币降序</option><option value="10">会员联盟币升序</option><option value="11">短信余额降序</option><option value="12">短信余额升序</option>-->
                        <!--</select>                    &nbsp;-->

                        <!--<input type="text" name="psize" value="20" size="2" class="t_c" title="条/页"/>-->
                        <input type="submit" value="搜 索" class="btn"/>&nbsp;
                        <input type="reset" value="重 置" class="btn"/>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;
                        <select name="timetype">
                            <option value="regtime" selected>注册时间</option>
                            <option value="logintime" >登录时间</option>
                        </select>&nbsp;
                        <script type="text/javascript" src="http://admin.topaaa.com/file/script/calendar.js"></script>
                        <input type="text" name="fromtime" id="fromtime" value="" size="10" onfocus="ca_show('fromtime', this, '-');" readonly ondblclick="this.value='';"/>
                        <img src="http://admin.topaaa.com/file/image/calendar.gif" align="absmiddle" onclick="ca_show('fromtime', this, '-');" style="cursor:pointer;"/> 至 <input type="text" name="totime" id="totime" value="" size="10" onfocus="ca_show('totime', this, '-');" readonly ondblclick="this.value='';"/> <img src="http://admin.topaaa.com/file/image/calendar.gif" align="absmiddle" onclick="ca_show('totime', this, '-');" style="cursor:pointer;"/>&nbsp;
                        资金：
                        <input type="number" size="3" step="0.01" name="minmoney" value=""/> ~ <input type="number" step="0.01" size="3" name="maxmoney" value=""/>&nbsp;

                        <!--联盟币：<input type="number" size="3" name="mincredit" value=""/> ~ <input type="text" size="3" name="maxcredit" value=""/>&nbsp;-->

                        <!--短信：<input type="text" size="3" name="minsms" value=""/> ~ <input type="text" size="3" name="maxsms" value=""/>&nbsp;-->
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;
                       <select name="vmobile" >
                           <option value="0" selected=selected>手机</option>
                           <option value="1">已认证</option>
                           <option value="2">未认证</option>
                       </select>

                        <select name="vtruename" >
                            <option value="0" selected=selected>实名</option>
                            <option value="1">已认证</option>
                            <option value="2">未认证</option>
                        </select>

                        <select name="vtrade" >
                            <option value="0" selected=selected>支付宝</option>
                            <option value="1">已认证</option>
                            <option value="2">未认证</option>
                        </select>

                        会员名：<input type="text" name="username" value="" size="8"/>&nbsp;
                        会员ID：<input type="text" name="id" value="" size="6"/>
                    </td>
                </tr>
            </table>
        </form>
            <form method="post">
                <div class="tt">会员管理</div>
                <table cellpadding="2" cellspacing="1" class="tb">
                    <tr>
                        <th width="25"><input type="checkbox" onclick="checkall(this.form);"/></th>
                        <th>会员ID</th>
                        <th>代理商</th>
                        <th>会员名称</th>
                        <th>推荐人</th>
                        <th>姓名</th>
                        <th>资金</th>
                        <th>联盟币</th>
                        <th>短信</th>
                        <th>性别</th>
                        <th>会员组</th>
                        <th>注册时间</th>
                        <th>最后登录</th>
                        <th>登录次数</th>
                        <th width="100">操作</th>
                    </tr>

                    <tr th:each="mem:${members}"
                        onmouseover="this.className='on';"
                        onmouseout="this.className='';"
                        align="center">
                        <td>
                            <input type="checkbox" name="userid[]" th:value="${mem.id}"/>
                        </td>
                        <td class="px11" th:text="${mem.id}">
                            209
                        </td>
                        <td align="left" th:text="${mem.proxy}">&nbsp;
                            <a href="javascript:_user('');"></a>
                        </td>

                        <td align="left">&nbsp;
                            <a href="javascript:_user('37150219830720873X');" th:text="${mem.username}">
                                会员的用户名
                            </a>
                        </td>

                        <td align="left" th:text="${mem.invite_id}">

                        </td>

                        <td align="left" th:text="${mem.real_name}">
                            &nbsp;
                        </td>

                        <td class="px11">
                            <a href="javascript:Dwidget('?moduleid=2&file=record&username=37150219830720873X', '[37150219830720873X] 资金记录');"
                               th:text="${mem.money}">0.00</a>
                        </td>
                        <td class="px11">
                            <a href="javascript:Dwidget('?moduleid=2&file=credit&username=37150219830720873X', '[37150219830720873X] 联盟币记录');">0.00</a>
                        </td>
                        <td class="px11">
                            <a href="javascript:Dwidget('?moduleid=2&file=sms&username=37150219830720873X&action=record', '[37150219830720873X] 短信记录');">3</a>
                        </td>
                        <td th:text="${mem.gender}">先生</td>
                        <td>
                            <a href="?moduleid=2&groupid=2" th:text="${mem.vipmodel}">禁止访问</a>
                        </td>
                        <td class="px11" th:text="${#dates.format(mem.regist_time, 'yyyy-MM-dd HH:mm')}">2016-09-02 18:01</td>
                        <td class="px11" th:text="${#dates.format(mem.login_time, 'yyyy-MM-dd HH:mm')}">2016-09-02 18:01</td>
                        <td class="px11">
                            <a th:text="${mem.loin_count}" href="javascript:Dwidget('?moduleid=2&file=loginlog&username=37150219830720873X&action=record', '[37150219830720873X] 登录记录');">
                                2
                            </a>
                        </td>
                        <td>
                            <a href="?moduleid=2&action=edit&userid=209">
                                <img th:src="@{/img/edit.png}" width="16" height="16" title="修改" alt=""/></a>&nbsp;

                            <a href="?moduleid=2&action=show&userid=209">
                                <img th:src="@{/img/view.png}" width="16" height="16" title="会员[37150219830720873X]详细资料" alt=""/>
                            </a>&nbsp;
                            <a href="?moduleid=2&action=login&userid=209" target="_blank">
                                <img th:src="@{/img/set.png}" width="16" height="16" title="进入会员商务中心" alt=""/>
                            </a>&nbsp;
                            <a href="?moduleid=2&file=index&action=delete&userid=209"
                               onclick="if(!confirm('确定危险！！要删除此会员吗？系统将删除选中用户所有信息，此操作将不可撤销')) return false;">
                                <img th:src="@{/img/delete.png}" width="16" height="16" title="删除" alt=""/></a>
                        </td>
                    </tr>


                </table>
                <div class="btns">
                    <input type="submit" value=" 删除会员 " class="btn" onclick="if(confirm('确定要删除选中会员吗？系统将删除选中用户所有信息，此操作将不可撤销')){this.form.action='?moduleid=2&action=delete'}else{return false;}"/>&nbsp;
                    <input type="submit" value=" 禁止访问 " class="btn" onclick="if(confirm('确定要禁止选中会员访问吗？')){this.form.action='?moduleid=2&action=move&groupids=2'}else{return false;}"/>&nbsp;
                    <input type="submit" value=" 资金增减 " class="btn" onclick="this.form.action='?moduleid=2&file=record&action=add';"/>&nbsp;
                    <input type="submit" value=" 联盟币奖惩 " class="btn" onclick="this.form.action='?moduleid=2&file=credit&action=add';"/>&nbsp;
                    <input type="submit" value=" 信用积分奖惩 " class="btn" onclick="this.form.action='?moduleid=2&file=price&action=add';"/>&nbsp;
                    <input type="submit" value=" 发送短信 " class="btn" onclick="this.form.action='?moduleid=2&file=sendsms';"/>&nbsp;
                    <input type="submit" value=" 发送邮件 " class="btn" onclick="this.form.action='?moduleid=2&file=sendmail';"/>&nbsp;
                    <input type="submit" value=" 发送消息 " class="btn" onclick="this.form.action='?moduleid=2&file=message&action=send';"/>&nbsp;
                    <input type="submit" value=" 移动至 " class="btn" onclick="if(Dd('mgroupid').value==0){alert('请选择会员组');Dd('mgroupid').focus();return false;}this.form.action='?moduleid=2&action=move';"/> <select name="groupid" id="mgroupid"><option value="0">会员组</option><option value="1">管理员</option><option value="2">禁止访问</option><option value="3">游客</option><option value="4">待审核会员</option><option value="5">试客会员</option><option value="6">商家会员</option><option value="7">VIP会员</option><option value="8">荣誉试客会员</option><option value="9">银牌试客会员</option><option value="10">金牌试客会员</option><option value="11">荣誉商家会员</option></select>        </div>
            </form>

            <div class="pages" id="pages">

            </div>
            <div class="tt">修改会员名</div>
            <form method="post" action="?">
                <a name="#editusername"></a>
                <table cellpadding="2" cellspacing="1" class="tb">
                    <tr>
                        <td>&nbsp;当前会员名： <input type="text" name="cusername" size="20" value=""/> &nbsp; 新会员名：
                            <input type="text" name="nusername" size="20"/> &nbsp;
                            <input type="submit" name="submit" value=" 确 定 " class="btn"/>&nbsp;&nbsp;<span class="f_gray">如无特殊情况，建议不要频繁修改会员名</span>
                        </td>
                    </tr>
                </table>
            </form>
            <div class="tt">手机查询</div>
            <table cellpadding="2" cellspacing="1" class="tb">
                <tr>
                    <td>&nbsp;手机号： <input type="text" name="mob" size="30" id="mob"/> &nbsp;
                        <input type="button" value=" 查 询 " class="btn" onclick="if(Dd('mob').value){_mobile(Dd('mob').value);}"/>&nbsp;&nbsp;<span class="f_gray">可查询手机所在地区</span>
                    </td>
                </tr>
            </table>
            <div class="tt">IP查询</div>
            <table cellpadding="2" cellspacing="1" class="tb">
                <tr>
                    <td>&nbsp;IP地址： <input type="text" name="ip" size="30" id="ip"/> &nbsp; <input type="button" value=" 查 询 " class="btn" onclick="if(Dd('ip').value){_ip(Dd('ip').value);}"/>&nbsp;&nbsp;<span class="f_gray">可查询IP所在地区</span>
                    </td>
                </tr>
            </table>
            <div class="tt">IP解锁</div>
            <form method="post" action="?">
                <input type="hidden" name="moduleid" value="2"/>
                <input type="hidden" name="file" value="index"/>
                <input type="hidden" name="action" value="unlock"/>
                <table cellpadding="2" cellspacing="1" class="tb">
                    <tr>
                        <td>&nbsp;IP地址： <input type="text" name="ip" size="30"/> &nbsp; <input type="submit" name="submit" value=" 解 锁 " class="btn"/>&nbsp;&nbsp;<span class="f_gray">可解除因登录失败次数过多而被锁定登录的IP</span>
                        </td>
                    </tr>
                </table>
            </form>
            <br/><br/><br/>
            <script type="text/javascript">Menuon(1);</script>
        </div>
    </div>
</div>

<script>
    layui.use('laypage', function(){
        var laypage = layui.laypage;

        //执行一个laypage实例
        laypage.render({
            elem: 'pages' //注意，这里的 test1 是 ID，不用加 # 号
            ,count: 50 //数据总数，从服务端得到
            ,limit:10,
            jump: function(obj, first){
                //obj包含了当前分页的所有参数，比如：
                console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
                console.log(obj.limit); //得到每页显示的条数

                //首次不执行
                if(!first){
                    //do something
                }
            }
        });
    });
</script>

</html>