<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorate="~{v2/layout/layout}">

<th:block layout:fragment="title">
    <title th:text="'商品管理' + ${title}"></title>
</th:block>

<head>

</head>

<body>
<th:block layout:fragment="body">
    <div id="ypcon">
        <div class="yptip">
            <span>此处是代发快递时保存的发货地址，方便商家选择发货地址。<br></span></div>
        <div class="menu">
            <table cellpadding="0" cellspacing="0">
                <tbody>
                <tr>
                    <td class="tab"><a id="m1" href="javascript:void(0)" class="sb0"><span>添加地址</span></a></td>
                    <td class="tab_nav">&nbsp;</td>
                    <td class="tab"><a id="m2" href="javascript:void(0)"><span>管理地址</span></a></td>
                    <td class="tab_nav">&nbsp;</td>
                    <td class="tab" style="display: none"><a id="m3" href="javascript:void(0)"><span>编辑地址</span></a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- 主体 begin -->
        <div class="my-container">
            <!-- 添加地址 begin -->
            <div class="my-tab-this item" >
                <form  id="add-form" class="layui-form"  action="">
                    <table cellpadding="6" cellspacing="1" class="tb">
                        <tbody>
                        <!--发货地址 begin-->
                        <tr>
                            <td class="tl"><span class="f_red">*</span> 发货地址</td>
                            <td class="tr">
                                <div class="layui-row" style="padding: 20px">
                                    <div class="layui-col-md12">
                                        <label class="layui-col-md1 my-label">省/市：</label>
                                        <span class="layui-col-md4">
                                        <!--省级列表 begin-->
                                         <select id="provinces" lay-verify="required" >
                                             <option value="">请选择</option>
                                        </select>
                                            <!--省级列表 end-->
                                    </span>
                                        <label style="margin-left: 20px">区/县：</label>
                                        <input style="width: 209px;" lay-verify="required" type="text" id="area" size="20">
                                    </div>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <div>
                                        <label>详细地址：</label>
                                        <input lay-verify="required" type="text" id="address_deails" size="80">
                                        <label style="color: red;display: none">格式不正确</label>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <!--发货地址 end-->
                        <tr>
                            <td class="tl"><span class="f_red">*</span> 邮政编码</td>
                            <td class="tr">
                                <input lay-verify="required"  type="text" id="postal_code" size="10" value="000000">
                                <span class="f_red"></span></td>
                        </tr>
                        <tr>
                            <td class="tl"><span class="f_red">*</span> 真实姓名</td>
                            <td class="tr">
                                <input lay-verify="required"  type="text" id="real_name" size="10">
                                <span class="f_red"></span></td>
                        </tr>
                        <tr>
                            <td class="tl"><span class="f_red">*</span> 手机号码</td>
                            <td class="tr">
                                <input lay-verify="required"  type="text" id="phone" size="20">
                                <span class="f_red"></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="tl"> 显示顺序</td>
                            <td class="tr f_gray">
                                <input type="text" id="sort" size="4"> 数字越小越靠前
                                <span class="f_red"></span></td>
                        </tr>
                        <tr>
                            <td class="tl"> 备注信息</td>
                            <td class="tr">
                                <input type="text" id="remark" size="60" >
                                <span id="dnote" class="f_red"></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="tl">&nbsp;</td>
                            <td class="tr" height="50">
                                <input type="button" lay-submit lay-filter="my-form"  value=" 确 定 " class="btn">
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="reset" name="reset" value=" 重 置 " class="btn"></td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <!-- 添加地址 end -->

            <!-- 地址列表 begin -->
            <div class="item" style="display: none">
                <table cellpadding="0" cellspacing="0" class="tb" id="express-address-list">
                    <tbody>
                    </tbody>
                </table>
                <div class="limit">总共可添加 <span class="f_b f_red" >10</span> 个&nbsp;&nbsp;&nbsp;当前已添加 <span class="f_b" id="list-size"></span> 个&nbsp;&nbsp;&nbsp;还可以添加 <span class="f_b f_blue" id="diff-size">7</span> 个</div>
            </div>
            <!-- 地址列表 end -->

            <!--编辑地址 begin-->
            <div class="item" style="display: none" >
                <form id="edit-form" class="layui-form"  action="">
                    <input type="hidden" id="e_address_id" value="">
                    <input type="hidden" id="e_add_date" value="">
                    <table cellpadding="6" cellspacing="1" class="tb">
                        <tbody>
                        <!--发货地址 begin-->
                        <tr>
                            <td class="tl"><span class="f_red">*</span> 发货地址</td>
                            <td class="tr">
                                <div class="layui-row" style="padding: 20px">
                                    <div class="layui-col-md12">
                                        <label class="layui-col-md1 my-label">省/市：</label>
                                        <span class="layui-col-md4">
                                        <!--省级列表 begin-->
                                         <select id="e_provinces" lay-verify="required" >
                                             <option value="">请选择</option>
                                        </select>
                                            <!--省级列表 end-->
                                    </span>
                                        <label style="margin-left: 20px">区/县：</label>
                                        <input style="width: 209px;" lay-verify="required" type="text" id="e_area" size="20">
                                    </div>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <div>
                                        <label>详细地址：</label>
                                        <input lay-verify="required" type="text" id="e_address_deails" size="80">
                                        <label style="color: red;display: none">格式不正确</label>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <!--发货地址 end-->
                        <tr>
                            <td class="tl"><span class="f_red">*</span> 邮政编码</td>
                            <td class="tr">
                                <input lay-verify="required"  type="text" id="e_postal_code" size="10" value="000000">
                                <span class="f_red"></span></td>
                        </tr>
                        <tr>
                            <td class="tl"><span class="f_red">*</span> 真实姓名</td>
                            <td class="tr">
                                <input lay-verify="required"  type="text" id="e_real_name" size="10">
                                <span class="f_red"></span></td>
                        </tr>
                        <tr>
                            <td class="tl"><span class="f_red">*</span> 手机号码</td>
                            <td class="tr">
                                <input lay-verify="required"  type="text" id="e_phone" size="20">
                                <span class="f_red"></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="tl"> 显示顺序</td>
                            <td class="tr f_gray">
                                <input type="text" id="e_sort" size="4"> 数字越小越靠前
                                <span class="f_red"></span></td>
                        </tr>
                        <tr>
                            <td class="tl"> 备注信息</td>
                            <td class="tr">
                                <input type="text" id="e_remark" size="60" >
                                <span  class="f_red"></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="tl">&nbsp;</td>
                            <td class="tr" height="50">
                                <input type="button" lay-submit lay-filter="my-edit"  value=" 确 定 " class="btn">
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="reset" name="reset" value=" 重 置 " class="btn"></td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <!--编辑地址 end-->
        </div>
        <!-- 主体 end -->
    </div>
</th:block>
<th:block layout:fragment="free_footer">
    <script>
        $(function () {
            set_nav("kuaidi", "on");
        })
    </script>
</th:block>
</body>
</html>