<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head th:fragment="commonHeader(title)">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <script  th:src="@{/dist/lang.js}"></script>
    <script  th:src="@{/js/constants.js}"></script>

    <script  th:src="@{/dist/config.js}"></script>
    <script  th:src="@{/dist/jquery-2.0.0.min.js}"></script>
    <script th:src="@{/dist/common.js}"></script>
    <script th:src="@{/dist/admin.js}"></script>
    <link rel="stylesheet" th:href="@{/css/admin/frame/left.css}">
    <link rel="stylesheet" th:href="@{/css/admin/frame/yp.css}">
    <link rel="stylesheet" th:href="@{/dist/JQuery_zTree_v3.5.15/css/zTreeStyle/zTreeStyle.css}">
    <script th:src="@{/dist/JQuery_zTree_v3.5.15/js/jquery.ztree.all-3.5.js}"></script>
    <script th:src="@{/dist/JQuery_zTree_v3.5.15/js/jquery.ztree.core-3.5.js}"></script>
    <script th:src="@{/dist/layer.js}"></script>
    <script th:src="@{/dist/template7.min.js}"></script>
    <script th:src="@{/dist/ypfunction.js}"></script>
    <script type="text/javascript" th:src="@{/js/jsencrypt.min.js}"></script>
    <link rel="stylesheet" th:href="@{/dist/bootstrap.css}">

    <link th:href="@{/layui/css/layui.css}" rel="stylesheet">
    <script th:src="@{/layui/layui.js}"></script>
    <script  th:src="@{/js/autopage.js}"></script>



</head>
<body>

</body>
</html>