<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="/common/commons-head::commonHeader('系统首页_销量联盟')">
</head>

<body>
<div style="display: flex;">
    <!--左侧菜单-->
    <div th:replace="~{admin/commons::#left_menu}"></div>


    <div style="flex: 1;margin-left:185px;">
        <div id="ypmsgbox" ></div>
        <div class="menu" onselectstart="return false" id="destoon_menu">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td valign="bottom">
                        <table cellpadding="0" cellspacing="0">
                            <tr>
                                <td width="10">&nbsp;</td>
                                <td id="Tab0" class="tab"><a href="?action=main">系统首页</a></td>
                                <td class="tab_nav">&nbsp;</td>
                                <td id="Tab1" class="tab"><a href="?action=password">修改密码</a></td>
                                <td class="tab_nav">&nbsp;</td>
                                <td id="Tab2" class="tab"><a href="?file=count">信息统计</a></td>
                                <td class="tab_nav">&nbsp;</td>
                                <td id="Tab3" class="tab"><a href="http://admin.topaaa.com/member/" target="_blank">商务中心</a>
                                </td>
                                <td class="tab_nav">&nbsp;</td>
                                <td id="Tab4" class="tab"><a href="http://admin.topaaa.com/" target="_blank">网站首页</a></td>
                                <td class="tab_nav">&nbsp;</td>
                                <td id="Tab5" class="tab"><a href="?file=logout" target="_top"
                                                             onclick="return confirm('确定要退出管理吗?');">安全退出</a></td>
                                <td class="tab_nav">&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                    <td width="110">
                        <div><img src="admin/image/spacer.gif" width="40" height="24" title="刷新"
                                  onclick="window.location.reload();" style="cursor:pointer;" alt=""/><img
                                src="admin/image/spacer.gif" width="20" height="24" title="后退" onclick="history.back(-1);"
                                style="cursor:pointer;" alt=""/><img src="admin/image/spacer.gif" width="20" height="24"
                                                                     title="前进" onclick="history.go(1);"
                                                                     style="cursor:pointer;" alt=""/><img
                                src="admin/image/spacer.gif" width="20" height="24" title="帮助"
                                onclick="Go('http://www.destoon.com/client.php?action=help&product=b2b&mfa=destoon-index-main');"
                                style="cursor:help;" alt=""/></div>
                    </td>
                </tr>
            </table>
        </div>
        <div id="ypcontent">
            <div id="tips_update" style="display:none;">
                <div class="tt">系统更新提示</div>
                <table cellpadding="2" cellspacing="1" class="tb">
                    <tr>
                        <td>
                            <div style="padding:20px 30px 20px 20px;"
                                 title="当前版本V5.0 更新时间20141126"><img
                                    src="admin/image/tips_update.gif"
                                    width="32" height="32" align="absmiddle"/>&nbsp;&nbsp;
                                <span class="f_red">
                                    您的当前软件版本有新的更新，请注意升级
                                </span>&nbsp;&nbsp;最新版本：V<span id="last_v">5.0</span>
                                更新时间：<span id="last_r">20141126</span>&nbsp;&nbsp;
                                <input type="button" value="检查更新" class="btn" onclick="Go('?file=cloud&action=update');"/>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="tt">
                <span class="f_r">IP:125.68.72.54 四川德阳&nbsp;&nbsp;</span>
                欢迎管理员，guanli&nbsp;&nbsp;
                <a href="?moduleid=2&action=login&userid=2" target="_blank">登录测试商家</a>&nbsp;&nbsp;
                <a href="?moduleid=2&action=login&userid=3" target="_blank">登录测试试客</a>
            </div>
            <table cellpadding="2" cellspacing="1" class="tb">
                <tr>
                    <td class="tl">管理级别</td>
                    <td width="30%">&nbsp;网站创始人</td>
                    <td class="tl">登录次数</td>
                    <td width="30%">&nbsp;3386 次</td>
                </tr>
                <tr>
                    <td class="tl">站内信件</td>
                    <td>&nbsp;<a href="http://admin.topaaa.com/member/message.php" target="_blank">收件箱[0]</a></td>
                    <td class="tl">登录时间</td>
                    <td>&nbsp;2018-07-15 17:42</td>
                </tr>
                <tr>
                    <td class="tl">账户余额</td>
                    <td>&nbsp;1040.00</td>
                    <td class="tl">会员联盟币</td>
                    <td>&nbsp;20.00</td>
                </tr>
                <form action="?">
                    <tr>
                        <td class="tl">后台搜索</td>
                        <td colspan="2">
                            <input type="hidden" name="file" value="search"/>
                            <input type="text" style="width:98%;color:#444444;" name="kw" value="请输入关键词"
                                   onfocus="if(this.value=='请输入关键词')this.value='';"/></td>
                        <td>&nbsp;<input type="submit" name="submit" value="搜 索" class="btn"/>
                        </td>
                    </tr>
                </form>
                <form method="post" action="?">
                    <tr>
                        <td class="tl">工作便笺</td>
                        <td colspan="2">
                            <input type="hidden" name="action" value="main"/>
                            <textarea name="note" style="width:98%;height:50px;overflow:visible;color:#444444;"></textarea>
                        </td>
                        <td>&nbsp;<input type="submit" name="submit" value="保 存" class="btn"/>
                        </td>
                    </tr>
                </form>
            </table>
            <div class="tt">系统信息</div>
            <table cellpadding="2" cellspacing="1" class="tb">
                <tr>
                    <td class="tl">安装时间</td>
                    <td>&nbsp;2014-11-02 14:23</td>
                </tr>
                <tr>
                    <td class="tl">服务器时间</td>
                    <td>&nbsp;2018-07-15 19:20:27 Sunday</td>
                </tr>
                <tr>
                    <td class="tl">服务器信息</td>
                    <td>&nbsp;Linux&nbsp;Apache [122.225.34.188:80]
                        <a href="?file=doctor" class="t">[系统体检]</a></td>
                </tr>
                <tr>
                    <td class="tl">数据库版本</td>
                    <td>&nbsp;MySQL 5.7.19-log</td>
                </tr>
                <tr>
                    <td class="tl">站点路径</td>
                    <td>&nbsp;/www/xxxxx.com</td>
                </tr>
                <tr>
                    <td class="tl">上次备份</td>
                    <td>&nbsp;<a href="?file=database" title="点击备份数据库">2016-01-12 20:19:32 (<span class="f_red">914</span>天以前)</a>
                    </td>
                </tr>
            </table>

        </div>
    </div>

</div>

</body>
</html>