<div class="layui-form layui-form-pane my-view">
    <div class="layui-form-item">
        <label class="layui-form-label">名称</label>

        <div class="layui-input-block">
            <input type="text" id="add-name" value="" autocomplete="off" placeholder="请输入快递空包网站名称" lay-verify="required" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">网址</label>

        <div class="layui-input-block">
            <input type="text" id="add-url" value="" autocomplete="off" placeholder="请输入快递空包网站地址" lay-verify="required" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <i style="line-height: 38px;">* 添加后的数据会在商家后台和前台显示</i>
        <button onclick="add()" class="layui-btn" style="float: right;">添加</button>
    </div>
</div>

<script>
    function add() {
        service.add({
            name: $('#add-name').val(),
            url: $('#add-url').val()
        }, function (data) {
            if(!isNaN(data.error) || data.code != 0) {
                layer.msg("添加失败");
                return;
            }
            layer.closeAll();
            marketTableIndex.reload();
        })
    }
</script>

