<div class="layui-form layui-form-pane my-view" method="post" action="./express-platform/edit"
      enctype="application/x-www-form-urlencoded" xmlns:th="http://www.thymeleaf.org">
    <input type="hidden" id="expp_id" th:value="${model.getExpp_id()}">

    <div class="layui-form-item">
        <label class="layui-form-label">名称</label>

        <div class="layui-input-block">
            <input type="text" id="name" autocomplete="off"
                   placeholder="请输入快递空包网站名称" lay-verify="required" class="layui-input" th:value="${model.getName()}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">网址</label>

        <div class="layui-input-block">
            <input type="text" id="url" autocomplete="off"
                   placeholder="请输入快递空包网站地址" lay-verify="required" class="layui-input" th:value="${model.getUrl()}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-block"  >
            <input name="isEnable" th:id="isEnable" th:if="${model.getIsEnable()} eq 1" type="checkbox" lay-skin="switch" lay-text="开启|关闭" checked>
            <input name="isEnable" th:id="isEnable" th:if="${model.getIsEnable()} eq 0" type="checkbox" lay-skin="switch" lay-text="开启|关闭">
        </div>
    </div>
    <div class="layui-form-item">
        <i style="line-height: 38px;">* 编辑后的数据会在商家后台和前台显示</i>
        <button onclick="edit()" class="layui-btn" style="float: right;">编辑</button>
    </div>
</div>

<script>
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate;
        form.render();


    })

    function edit() {
        service.edit({
            expp_id: $('#expp_id').val(),
            name: $('#name').val(),
            url: $('#url').val(),
            isEnable: $('#isEnable').next().find("em").text() == '开启' ? 1 : 0
        }, function (data) {
                if(!isNaN(data.error) || data.code != 0) {
                    layer.msg("修改失败");
                    return;
                }
                layer.closeAll();
                marketTableIndex.reload();
        })
    }
</script>
