<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorate="~{v2/layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>快递空包服务管理</title>
    <link rel="stylesheet" th:href="@{/v2/frame/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/v2/frame/static/css/style.css}">
    <link rel="stylesheet" th:href="@{/v2/css/express/index.css}">
    <link rel="icon" th:href="@{/v2/frame/static/image/code.png}">
</head>
<body>

<th:block layout:fragment="current_page">
    <a><cite>快递空包服务管理</cite></a>
</th:block>

<th:block layout:fragment="body">
   <div class="layui-row">
       <!--树插件-->
       <!--<div class="layui-col-md2" style="margin-right: 10px;height: 800px">
           <div class="layui-card" style="box-shadow: -2px 3px 5px 1px #0000001c;height: 100%;">
               <div class="layui-card-header"  style="font-weight: bold">根据渠道筛选商品</div>
               <div class="layui-card-body">
                   <ul id="tree" class="tree-table-tree-box"></ul>
               </div>
           </div>
       </div>-->

       <!--选项卡-->
       <div class="layui-tab layui-tab-card layui-col-md12" style="min-height: 770px">
           <ul id="tab-channel" class="layui-tab-title" lay-filter="tab-goods">
               <li id="active-express-orders" class="layui-this">快递订单</li>
               <li id="active-express-goods">商品管理</li>
               <li id="active-express-market">进货渠道</li>
           </ul>
           <div class="layui-tab-content" style="height: 100px;padding: 20px">
               <!--快递订单 begin-->
               <div class="layui-tab-item  layui-show">
                   <!-- 工具集 -->
                   <div class="my-btn-box">
                    <span class="fl">
                        <a id="orders-data-table-delete" class="layui-btn layui-btn-danger radius btn-delect">批量删除</a>
                        <a id="orders-data-table-send" class="layui-btn  layui-btn-normal radius">批量发货</a>
                        <a class="layui-btn btn-add btn-default" id="btn-refresh-orders-data-table"><i class="layui-icon layui-icon-refresh"></i></a>
                    </span>
                       <span class="fr">
                        <span class="layui-form-label">搜索条件：</span>
                        <div class="layui-input-inline">
                            <input id="orders-data-table-condition" type="text" autocomplete="off" placeholder="请输入搜索条件" class="layui-input">
                        </div>
                        <button id="orders-data-table-query" class="layui-btn mgl-20">查询</button>
                    </span>
                   </div>
                   <!-- 表格 -->
                   <div id="orders-data-table" class="my-data-table" lay-filter="orders-data-table"></div>
               </div>
               <!--快递订单 end-->

               <!--销售分类 begin-->
               <div class="layui-tab-item">
                   <!-- 工具集 -->
                   <div class="my-btn-box">
                    <span class="fl">
                        <a id="goods-data-table-delete" class="layui-btn layui-btn-danger radius btn-delect">批量删除</a>
                        <a id="goods-data-table-add" class="layui-btn btn-add btn-default" >添加</a>
                        <a class="layui-btn btn-add btn-default" id="btn-refresh-goods-data-table"><i class="layui-icon layui-icon-refresh"></i></a>
                    </span>
                       <span class="fr">
                        <span class="layui-form-label">搜索条件：</span>
                        <div class="layui-input-inline">
                            <input id="goods-data-table-condition" type="text" autocomplete="off" placeholder="请输入搜索条件" class="layui-input">
                        </div>
                        <button id="goods-data-table-query" class="layui-btn mgl-20">查询</button>
                    </span>
                   </div>
                   <!-- 表格 -->
                   <div id="goods-data-table" class="my-data-table" lay-filter="goods-data-table"></div>
               </div>
               <!--销售分类 end-->

               <!--进货渠道 begin-->
               <div class="layui-tab-item">
                   <!-- 工具集 -->
                   <div class="my-btn-box">
                    <span class="fl">
                        <a id="market-data-table-delete" class="layui-btn layui-btn-danger radius btn-delect">批量删除</a>
                        <a id="market-data-table-add" class="layui-btn btn-add btn-default" >添加</a>
                        <a class="layui-btn btn-add btn-default" id="btn-refresh-market-data-table"><i class="layui-icon layui-icon-refresh"></i></a>
                    </span>
                       <span class="fr">
                        <span class="layui-form-label">搜索条件：</span>
                        <div class="layui-input-inline">
                            <input id="market-data-table-condition" type="text" autocomplete="off" placeholder="请输入搜索条件" class="layui-input">
                        </div>
                        <button id="market-data-table-query" class="layui-btn mgl-20">查询</button>
                    </span>
                   </div>
                   <!-- 表格 -->
                   <div id="market-data-table" class="my-data-table" lay-filter="market-data-table"></div>
               </div>
               <!--进货渠道 end-->
           </div>
       </div>
   </div>

</th:block>
<th:block layout:fragment="free_footer">
    <script type="text/javascript" th:src="@{/v2/frame/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/v2/js/index.js}"></script>
    <script type="text/javascript" th:src="@{/v2/js/express/index.js}"></script>
    <!-- 表格操作按钮集 -->
    <script type="text/html" id="barOption">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
</th:block>
</body>
</html>