<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorate="~{v2/layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>快递空包服务管理</title>
    <link rel="stylesheet" th:href="@{/v2/frame/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/v2/frame/static/css/style.css}">
    <link rel="icon" th:href="@{/v2/frame/static/image/code.png}">
</head>
<body>

<th:block layout:fragment="current_page">
    <a><cite>快递空包服务管理</cite></a>
</th:block>

<th:block layout:fragment="body">

    <!-- 工具集 -->
    <div class="my-btn-box">
    <span class="fl">
        <a id="table-delete" class="layui-btn layui-btn-danger radius btn-delect">批量删除</a>
        <a id="table-add" class="layui-btn btn-add btn-default" >添加</a>
        <a class="layui-btn btn-add btn-default" id="btn-refresh"><i class="layui-icon">&#x1002;</i></a>
    </span>
    </div>

    <!-- 表格 -->
    <div id="dateTable" class="my-data-table" lay-filter="test"></div>
</th:block>
<th:block layout:fragment="free_footer">
    <script type="text/javascript" th:src="@{/v2/frame/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/v2/js/index.js}"></script>
    <script type="text/javascript" th:src="@{/v2/js/express/index.js}"></script>
    <!-- 表格操作按钮集 -->
    <script type="text/html" id="barOption">
        <a name="item-view" class="layui-btn layui-btn-mini" lay-event="detail">查看</a>
        <a name="item-edit" class="layui-btn layui-btn-mini layui-btn-normal" lay-event="edit">编辑</a>
        <a name="item-remove" class="layui-btn layui-btn-mini layui-btn-danger" lay-event="del">删除</a>
    </script>
</th:block>
</body>
</html>