<form class="layui-form layui-form-pane my-view" method="post" action="./express-platform/add"
      enctype="application/x-www-form-urlencoded" xmlns:th="http://www.thymeleaf.org">
    <input type="hidden" name="exp_id" th:value="${model.getExpp_id()}">
    
    <div class="layui-form-item">
        <label class="layui-form-label">名称</label>

        <div class="layui-input-block">
            <input disabled="disabled" type="text" name="platform_name" autocomplete="off"
                   placeholder="请输入快递空包网站名称" lay-verify="required" class="layui-input" th:value="${model.getName()}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">网址</label>

        <div class="layui-input-block">
            <input disabled="disabled" type="text" name="platform_name" autocomplete="off"
                   placeholder="请输入快递空包网站地址" lay-verify="required" class="layui-input" th:value="${model.getUrl()}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-block"  >
            <input th:id="isEnable" type="checkbox" lay-skin="switch">
            <div th:if="${model.getIsEnable()} eq 1" class="layui-unselect layui-form-switch layui-form-onswitch" lay-skin="_switch"><em>开启</em><i></i></div>
            <div th:if="${model.getIsEnable()} eq 0" class="layui-unselect layui-form-switch" lay-skin="_switch"><em>关闭</em><i></i></div>
        </div>
    </div>
</form>