<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wanhao.proback.dao.member.ExpressPlatformMapper">
    <insert id="insertSingle" parameterType="com.wanhao.proback.bean.member.ExpressPlatform"
        keyColumn="expp_id" keyProperty="expp_id" useGeneratedKeys="true">
        INSERT INTO tb_express_platforms(`name`,url,isEnabled) VALUES(#{name},#{url},#{isEnabled})
    </insert>

</mapper>