<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wanhao.profront.dao.member.MemberMapper">

    <!--对应列名-->
    <!--<resultMap id="BaseResultMap" type="com.wanhao.profront.bean.member.Member">-->
        <!--<id column="id" jdbcType="INTEGER" property="id" />-->
        <!--<result column="username" jdbcType="VARCHAR" property="username" />-->
        <!--<result column="password" jdbcType="VARCHAR" property="password" />-->
        <!--<result column="mobile" jdbcType="VARCHAR" property="mobile" />-->
        <!--<result column="email" jdbcType="VARCHAR" property="email" />-->

        <!--<result column="login_ip" jdbcType="VARCHAR" property="login_ip" />-->
        <!--<result column="img" jdbcType="VARCHAR" property="img" />-->
        <!--<result column="email_code" jdbcType="VARCHAR" property="email_code" />-->
        <!--<result column="mobile_code" jdbcType="VARCHAR" property="mobile_code" />-->
        <!--<result column="pass_code" jdbcType="VARCHAR" property="pass_code" />-->

        <!--<result column="login_count" jdbcType="INTEGER" property="login_count" />-->
        <!--<result column="money" jdbcType="DOUBLE" property="money" />-->
        <!--<result column="login_time" jdbcType="DATE" property="login_time" />-->


        <!--<result column="invite_id" jdbcType="INTEGER" property="invite_id" />-->
        <!--<result column="robot_number" jdbcType="INTEGER" property="robot_number" />-->
        <!--<result column="status" jdbcType="INTEGER" property="status" />-->
        <!--<result column="sheng" jdbcType="VARCHAR" property="sheng" />-->
        <!--<result column="vipmodel" jdbcType="VARCHAR" property="vipmodel" />-->


        <!--<result column="add_moneys" jdbcType="DOUBLE" property="add_moneys" />-->
        <!--<result column="real_name" jdbcType="VARCHAR" property="real_name" />-->
        <!--<result column="gender" jdbcType="VARCHAR" property="gender" />-->
        <!--<result column="short_msg" jdbcType="INTEGER" property="short_msg" />-->
        <!--<result column="regist_time" jdbcType="DATE" property="regist_time" />-->
        <!--<result column="proxy" jdbcType="VARCHAR" property="proxy" />-->
        <!--<result column="loin_count" jdbcType="INTEGER" property="loin_count" />-->


        <!--<result column="id_card" jdbcType="VARCHAR" property="id_card" />-->
        <!--<result column="phone" jdbcType="VARCHAR" property="phone" />-->
        <!--<result column="qq" jdbcType="VARCHAR" property="qq" />-->
        <!--<result column="remark" jdbcType="VARCHAR" property="remark" />-->
        <!--<result column="regist_ip" jdbcType="VARCHAR" property="regist_ip" />-->


        <!--<result column="do_job_count" jdbcType="INTEGER" property="do_job_count" />-->
        <!--<result column="bail_money" jdbcType="DOUBLE" property="bail_money" />-->
        <!--<result column="complain_count" jdbcType="INTEGER" property="complain_count" />-->
        <!--<result column="alipay" jdbcType="VARCHAR" property="alipay" />-->
        <!--<result column="bad_comment" jdbcType="INTEGER" property="bad_comment" />-->
        <!--<result column="good_comment" jdbcType="INTEGER" property="good_comment" />-->
        <!--<result column="mid_comment" jdbcType="INTEGER" property="mid_comment" />-->

        <!--<result column="pass_exam" jdbcType="INTEGER" property="pass_exam" />-->
        <!--<result column="bank_num" jdbcType="VARCHAR" property="bank_num" />-->
        <!--<result column="bank_type" jdbcType="VARCHAR" property="bank_type" />-->
        <!--<result column="bank_addr" jdbcType="VARCHAR" property="bank_addr" />-->
        <!--<result column="is_real_name" jdbcType="INTEGER" property="is_real_name" />-->

    <!--</resultMap>-->

</mapper>