<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wanhao.profront.dao.member.NameForbiddenMapper">

    <!--对应列名-->
    <resultMap id="BaseResultMap" type="com.wanhao.proback.bean.member.NameForbidden">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
    </resultMap>

    <update id="updateFor" parameterType="com.wanhao.proback.bean.member.NameForbidden">
        UPDATE tb_name_forbidden SET NAME=#{name} where id=1
    </update>

</mapper>