<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <!--样式 begin-->
    <th:block th:replace="v2/layout/header :: header" />
    <!--样式 end-->
</head>
<body>

<!-- layout admin -->
<div class="layui-layout layui-layout-admin"> <!-- 添加skin-1类可手动修改主题为纯白，添加skin-2类可手动修改主题为蓝白 -->
    <!-- header -->
    <div class="layui-header my-header">
        <a href="../admin/index.html">
            <!--<img class="my-header-logo" src="" alt="logo">-->
            <div class="my-header-logo">网站管理系统</div>
        </a>
        <div class="my-header-btn">
            <button class="layui-btn layui-btn-small btn-nav"><i class="layui-icon">&#xe65f;</i></button>
        </div>

        <!-- 顶部左侧添加选项卡监听 -->
        <ul class="layui-nav" lay-filter="side-top-left"></ul>

        <!-- 顶部右侧添加选项卡监听 -->
        <ul class="layui-nav my-header-user-nav" lay-filter="side-top-right">
            <li class="layui-nav-item"><a href="javascript:;" class="pay" href-url="">支持作者</a></li>
            <li class="layui-nav-item">
                <a class="name" href="javascript:;"><i class="layui-icon">&#xe629;</i>主题</a>
                <dl class="layui-nav-child">
                    <dd data-skin="0"><a href="javascript:;">默认</a></dd>
                    <dd data-skin="1"><a href="javascript:;">纯白</a></dd>
                    <dd data-skin="2"><a href="javascript:;">蓝白</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a class="name" href="javascript:;"><img src="./frame/static/image/code.png" alt="logo">Admin</a>
                <dl class="layui-nav-child">
                    <dd><a href="/"><i class="layui-icon">&#x1006;</i>退出</a></dd>
                </dl>
            </li>
        </ul>

    </div>

    <!--左侧菜单 begin-->
    <th:block th:replace="v2/layout/left-menu :: left-menu" />
    <!--左侧菜单 end-->


    <!-- 内容主体 begin -->
    <div class="layui-body my-body">
        <div class="my-breadcrumb">
            <span class="layui-breadcrumb" lay-filter="breadcrumb" style="visibility: visible;">
              <a href="/myAdmin/systemIndex">首页</a><span lay-separator="">/</span>
                <th:block layout:fragment="current_page" />
             </span>
        </div>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show my-content">
                <th:block layout:fragment="body"/>
            </div>
        </div>
    </div>
    <!-- 内容主体 end -->


    <!-- 页脚 begin -->
    <th:block th:replace="v2/layout/footer :: footer" />
    <!-- 页脚 end -->

</div>
<!--通用页脚 begin-->
<th:block th:replace="v2/shared/footer :: footer" />
<th:block layout:fragment="free_footer" />
<!--通用页脚 end-->
</body>
</html>