<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wanhao.proback.dao.AreaMapper">

    <!--&lt;!&ndash;对应列名&ndash;&gt;-->
    <!--<resultMap id="BaseResultMap" type="com.wanhao.proback.bean.Area">-->
        <!--<result column="codeid" jdbcType="INTEGER" property="codeid" />-->
        <!--<result column="parentid" jdbcType="INTEGER" property="parentid" />-->
        <!--<result column="cityName" jdbcType="VARCHAR" property="cityName" />-->
    <!--</resultMap>-->

    <!--<select id="getAllProvince" resultMap="BaseResultMap">-->
        <!--SELECT * FROM tb_area WHERE parentid=0 ORDER BY codeid ASC-->
    <!--</select>-->

</mapper>