<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="footer">

    <script>
        $(function () {
            set_nav("m1", "sb0");
        });
    </script>
    <div style="clear:both;"></div>
    <div id="footer">
        <div id="footer_top">
            <div id="foot_top_1">
                <a href="/about/index.php?itemid=10">代理加盟</a><span>  |  </span>
                <a href="/about/index.php?itemid=9">辅助业务</a><span>  |  </span>
                <a href="/about/index.php?itemid=8">网站活动</a><span>  |  </span>
                <a href="/about/index.php?itemid=7">联系客服</a><span>  |  </span>
                <a href="/about/index.php?itemid=6">联盟网规</a><span>  |  </span>
                <a href="/about/index.php?itemid=1">关于我们</a><span>  |  </span>
                <a href="/about/index.php?itemid=3">联系方式</a><span>  |  </span>
                <a href="/about/index.php?itemid=4">使用协议</a><span>  |  </span>
                <a href="/about/index.php?itemid=5">版权隐私</a><span>  |  </span>
            </div>
            <div id="copy_right">
                (c)2013-2018 销量联盟 www.topaaa.com All Rights Reserved
            </div>
            <div style="width:1024px;text-align: center;margin: 20px auto 0;">
                <img src="http://001.topaaa.com/skin/ypmili/css/img/rz/1.png">
                <img src="http://001.topaaa.com/skin/ypmili/css/img/rz/2.png">
                <img src="http://001.topaaa.com/skin/ypmili/css/img/rz/3.png">
                <img src="http://001.topaaa.com/skin/ypmili/css/img/rz/4.png">
                <img src="http://001.topaaa.com/skin/ypmili/css/img/rz/5.png">
                <img src="http://001.topaaa.com/skin/ypmili/css/img/rz/6.png">
                <img src="http://001.topaaa.com/skin/ypmili/css/img/rz/7.png">
                <img src="http://001.topaaa.com/skin/ypmili/css/img/rz/8.png">
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
</th:block>