<script src="../../../static/dist/js/jquery-2.0.0.min.js"></script>
<th:block xmlns:th="http://www.thymeleaf.org"
          xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
          th:fragment="header">

    <link rel="stylesheet" type="text/css" th:href="@{/dist/css/index-skin.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/dist/css/index-tp.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/dist/v2/frame/layui/css/layui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/dist/css/jq-tip.css}">

    <script type="text/javascript" th:src="@{/dist/js/lang.js}"></script>
    <script type="text/javascript" th:src="@{/dist/js/config.js}"></script>
    <script type="text/javascript" th:src="@{/dist/js/jquery-2.0.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/dist/js/jquery.form.js}"></script>
    <script type="text/javascript" th:src="@{/dist/js/common.js}"></script>

    <script type="text/javascript" th:src="@{/dist/js/admin.js}"></script>
    <script type="text/javascript" th:src="@{/dist/js/page.js}"></script>

    <script type="text/javascript" th:src="@{/dist/js/template7.min.js}"></script>
    <script type="text/javascript" th:src="@{/dist/js/cm.js}"></script>
    <script type="text/javascript" th:src="@{/dist/js/ypfunction.js}"></script>


    <!--配置服务器连接地址 -->
    <script type="text/javascript" th:src="@{/dist/js/gjy_serviceurl.js}"></script>
</th:block>