<th:block xmlns:th="http://www.thymeleaf.org"
          xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
          th:fragment="header">

    <link rel="stylesheet" type="text/css" href="../../../dist/css/index-skin.css">
    <link rel="stylesheet" type="text/css" href="../../../dist/css/index-tp.css">
    <link rel="stylesheet" type="text/css" href="../../../dist/layui/css/layui.css">

    <script type="text/javascript" src="../../../dist/js/lang.js"></script>
    <script type="text/javascript" src="../../../dist/js/config.js"></script>
    <script type="text/javascript" src="../../../dist/js/jquery-2.0.0.min.js"></script>
    <script type="text/javascript" src="../../../dist/js/common.js"></script>

    <script type="text/javascript" src="../../../dist/js/admin.js"></script>
    <script type="text/javascript" src="../../../dist/js/page.js"></script>

    <link rel="stylesheet" type="text/css" href="../../../dist/css/jq-tip.css">
    <script type="text/javascript" src="../../../dist/js/jq-tip.js"></script>

    <script type="text/javascript" src="../../../dist/js/jquery.form.js"></script>
    <script type="text/javascript" src="../../../dist/js/template7.min.js"></script>
    <script type="text/javascript" src="../../../dist/js/cm.js"></script>
    <script type="text/javascript" src="../../../dist/js/ypfunction.js"></script>


    <!--配置服务器连接地址 -->
    <script type="text/javascript" src="../../../dist/js/gjy_serviceurl.js"></script>
    <script type="text/javascript" src="../../../dist/v2/js/common/jquery.ajax.custom.js"></script>
</th:block>